<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <formly-form
    [form]="form"
    [fields]="fields"
    [model]="model"
  ></formly-form>

  <mat-card-actions class="b-t-1 justify-content-end p-r-0 d-flex">
    <div
      mat-dialog-actions
      class="p-r-0"
    >
      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
        {{ "modal.submitButton" | translate }}
      </button>
    </div>
  </mat-card-actions>
</form>
