<div class="invoice-status-container">
  <button
    *ngIf="clickable"
    mat-button
    [matMenuTriggerFor]="isStatusClickable ? statusMenu : null"
    [class]="getBadgeClass()"
    [style.color]="statusConfig.color"
    [style.background-color]="statusConfig.backgroundColor"
    class="invoice-status-badge invoice-status-badge--clickable"
  >
    <mat-icon
      *ngIf="showIcon && statusConfig.icon"
      class="invoice-status-badge__icon"
    >
      {{ statusConfig.icon }}
    </mat-icon>
    <span class="invoice-status-badge__text">
      <ng-container *ngIf="noInvoice; else invoiceStatus">
        {{ "load.invoiceNotCreated" | translate }}
      </ng-container>
      <ng-template #invoiceStatus>
        {{ "status.invoice." + statusConfig.text | translate }}
      </ng-template>
    </span>
  </button>

  <span
    *ngIf="!clickable"
    [class]="getBadgeClass()"
    [style.color]="statusConfig.color"
    [style.background-color]="statusConfig.backgroundColor"
    class="invoice-status-badge"
  >
    <mat-icon
      *ngIf="showIcon && statusConfig.icon"
      class="invoice-status-badge__icon"
    >
      {{ statusConfig.icon }}
    </mat-icon>
    <span class="invoice-status-badge__text">
      <ng-container *ngIf="noInvoice; else invoiceStatusDisplay">
        {{ "load.invoiceNotCreated" | translate }}
      </ng-container>
      <ng-template #invoiceStatusDisplay>
        {{ statusConfig.text }}
      </ng-template>
    </span>
  </span>
  <!--  -->
  <mat-menu
    #statusMenu="matMenu"
    class="status-menu"
  >
    <button
      *ngFor="let statusOption of availableStatuses"
      mat-menu-item
      (click)="onStatusSelect(statusOption.value)"
      class="status-menu-item"
    >
      <span class="f-s-14 f-w-600"> {{ "status.invoice." + statusOption.label | translate }}</span>
    </button>
  </mat-menu>
</div>
