<mat-form-field
  appearance="outline"
  class="w-100"
>
  <mat-label>{{ to.label ?? "" | translate }}</mat-label>
  <input
    [placeholder]="to.label ?? '' | translate"
    [matDatepicker]="dp"
    matInput
    id="date"
    name="date"
    (keydown)="onKeyDown()"
    (focus)="onInputFocus(dp)"
    (click)="onInputFocus(dp)"
    [formControl]="date"
  />
  <mat-datepicker-toggle
    matIconSuffix
    [for]="dp"
  ></mat-datepicker-toggle>
  <mat-datepicker
    #dp
    startView="multi-year"
    panelClass="example-month-picker"
    (monthSelected)="setMonthAndYear($event, dp)"
  ></mat-datepicker>
</mat-form-field>
