<button
  mat-icon-button
  [matMenuTriggerFor]="columnMenu"
  [attr.aria-label]="title | translate"
  class="column-selector-btn"
>
  <mat-icon>
    <i-tabler
      name="columns"
      class="icon-20"
    ></i-tabler>
  </mat-icon>
</button>

<mat-menu
  #columnMenu="matMenu"
  class="column-selector-menu"
>
  <div class="column-selector-header">
    <h3 class="column-selector-title">{{ title | translate }}</h3>
    <div class="column-selector-actions">
      <button
        mat-button
        size="small"
        (click)="selectDefaults()"
        class="column-selector-action-btn"
      >
        {{ "table.selectDefaults" | translate }}
      </button>
      <button
        mat-button
        size="small"
        (click)="selectAll()"
        class="column-selector-action-btn"
      >
        {{ "table.selectAll" | translate }}
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="column-selector-content">
    <div
      *ngFor="let column of columns"
      class="column-option"
    >
      <mat-checkbox
        [checked]="column.visible"
        (change)="toggleColumn(column)"
        class="column-checkbox"
      >
        {{ column.label | translate }}
      </mat-checkbox>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="column-selector-footer">
    <span class="column-count">
      {{ visibleColumnsCount }}/{{ totalColumnsCount }} {{ "table.columnsSelected" | translate }}
    </span>
  </div>
</mat-menu>
