<div class="row">
  <div class="col-9">
    <mat-form-field
      appearance="outline"
      class="w-100"
    >
      <mat-label>{{ "addressForm.street.label" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'addressForm.street.placeholder' | translate"
      />
      <mat-icon matSuffix>
        <i-tabler
          name="receipt-2"
          class="icon-20 d-flex"
        ></i-tabler>
      </mat-icon>
      <mat-error *ngIf="showError">
        {{ "addressForm.street.validationMessage" | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="col-3">
    <mat-form-field
      appearance="outline"
      class="w-100"
    >
      <mat-label>{{ "addressForm.house_number.label" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'addressForm.house_number.placeholder' | translate"
      />
      <mat-icon matSuffix>
        <i-tabler
          name="receipt-2"
          class="icon-20 d-flex"
        ></i-tabler>
      </mat-icon>
      <mat-error *ngIf="showError">
        {{ "addressForm.house_number.validationMessage" | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="col-10">
    <mat-form-field
      appearance="outline"
      class="w-100"
    >
      <mat-label>{{ "addressForm.city.label" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'addressForm.city.placeholder' | translate"
      />
      <mat-icon matSuffix>
        <i-tabler
          name="receipt-2"
          class="icon-20 d-flex"
        ></i-tabler>
      </mat-icon>
      <mat-error *ngIf="showError">
        {{ "addressForm.city.validationMessage" | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="col-2">
    <mat-form-field
      appearance="outline"
      class="w-100"
    >
      <mat-label>{{ "addressForm.postal_code.label" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'addressForm.postal_code.placeholder' | translate"
      />
      <mat-icon matSuffix>
        <i-tabler
          name="receipt-2"
          class="icon-20 d-flex"
        ></i-tabler>
      </mat-icon>
      <mat-error *ngIf="showError">
        {{ "addressForm.postal_code.validationMessage" | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="col-12">
    <mat-form-field
      appearance="outline"
      class="w-100"
    >
      <mat-label>{{ "addressForm.country.label" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'addressForm.country.placeholder' | translate"
      />
      <mat-icon matSuffix>
        <i-tabler
          name="receipt-2"
          class="icon-20 d-flex"
        ></i-tabler>
      </mat-icon>
      <mat-error *ngIf="showError">
        {{ "addressForm.country.validationMessage" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</div>
