<div class="additional-costs-section">
  <div class="d-flex align-items-center justify-content-between m-b-16">
    <h4 class="f-s-18 f-w-600 m-0">{{ field.props?.label || "Add item" | translate }}</h4>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="add()"
      class="f-s-14"
    >
      <i-tabler
        name="plus"
        class="icon-16 m-r-8"
      ></i-tabler>
      {{ field.props?.["addText"] || "Add item" | translate }}
    </button>
  </div>

  <div class="additional-costs-container">
    <div
      *ngFor="let field of field.fieldGroup; let i = index"
      class="cost-item"
    >
      <div class="d-flex align-items-center justify-content-between m-b-12">
        <span class="f-s-16 f-w-600">
          {{
            field.props?.["itemTitleKey"] || "COMPANY_SETTINGS.FORM.INVOICE_SETTINGS.REPEAT_SECTION.ITEM_TITLE"
              | translate
          }}
          {{ i + 1 }}</span
        >
        <button
          mat-icon-button
          color="warn"
          type="button"
          (click)="remove(i)"
          class="remove-cost-button"
          [matTooltip]="
            field.props?.['removeButtonKey'] || 'COMPANY_SETTINGS.FORM.INVOICE_SETTINGS.REPEAT_SECTION.REMOVE_BUTTON'
              | translate
          "
        >
          <i-tabler name="trash"></i-tabler>
        </button>
      </div>

      <formly-field [field]="field"></formly-field>
    </div>

    <div
      *ngIf="field.fieldGroup?.length === 0"
      class="empty-state"
    >
      <i-tabler
        name="file-description"
        class="icon-48"
      ></i-tabler>
      <p>
        {{ field.props?.["emptyStateKey"] || "USER_SETTINGS.FORM.COMPANY_CARDS.EMPTY_STATE" | translate }}
      </p>
    </div>
  </div>
</div>
