<ng-container *ngIf="!to.hidden">
  <mat-form-field
    appearance="outline"
    class="w-100"
  >
    <input
      [placeholder]="(to.label ?? '' | translate) + (to.required ? ' *' : '')"
      [matDatepicker]="picker"
      matInput
      id="date"
      name="date"
      (keydown)="onKeyDown()"
      (focus)="onInputFocus(picker)"
      (click)="onInputFocus(picker)"
      [formControl]="getFormControl()"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</ng-container>
