<div class="d-flex justify-content-between">
  <h2 mat-dialog-title>{{ title | translate }}</h2>

  <div class="d-flex align-items-center justify-content-center p-r-24">
    <button
      mat-icon-button
      class="d-flex"
      (click)="closeModal$.emit(true)"
    >
      <i-tabler
        name="x"
        class="icon-20"
      ></i-tabler>
    </button>
  </div>
</div>
<mat-dialog-content class="mat-typography m-t-24">
  <ng-container *ngTemplateOutlet="modalContent"></ng-container>
</mat-dialog-content>
